.left {
  float: left;
  width: 25%;
}
.leftish {
  float: left;
  margin-right: 2em;
  margin-top: 0.5em;
}

.spanish {
  margin-top: 1em;
  margin-bottom: 1em;
}

.right {
  float: right;
  width: 70%;
  margin-left:1em;
}

.nineteen{
  font-size:19px;
}

.row.innerow {
  margin-top:1em;
  margin-bottom:1em;
}

li a {
    color: white;
    
}

li a:hover {
    color: white;
}

li {
  margin-bottom:1em;
}


.img-responsive{
    display: block;
    margin-left: auto;
    margin-right: auto;
}