 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <h3>ThinkR</h3>
                    <p>ThinkR is French company focused on everything R-related.</p>
                    <p>We are specialized in anything that can be linked to R: software engineering, infrastructure, shiny applications and deployment, training...</p>
                    <p>We also have a strong  commitment to the Open Source community: this page is our way to share with you the results of our work.</p>
                </div>
                <div class="col-lg-4">
                  <h3>More about us</h3>
                  <p>You can find more about us here:</p>
                  <ul>
                    <li><a href = "https://thinkr.fr">https://thinkr.fr</a></li>
                    <li><a href = "https://rtask.thinkr.fr">https://rtask.thinkr.fr</a></li>
                    <li><a href = "https://github.com/ThinkR-open">https://github.com/ThinkR-open</a></li>
                    <li><a href = "https://twitter.com/Thinkr_FR">https://twitter.com/Thinkr_FR</a></li>
                  </ul>
                </div>
            </div>
        </div>
    </section>
